<div class="my-4 px-4 top_section">
    <p class="records_title">Records</p>
    <div class="top_control">
        <div class="top_input_container mr-3">
            <img class="search_icon mr-2" src="../../../../../assets/search-icon.svg" alt="search-icon" />
            <input id="typeahead-basic" type="text" class="top_search" (input)="onSearch($event)" placeholder="Type to search" />
        </div>
        <button mat-flat-button class="button_top" (click)="addRecord()">Create</button>
    </div>
</div>







<!-- <input class="search" type="text" placeholder="Search..." (input)="onSearch($event)"> -->






<ng2-smart-table #smartTable class='form-control' [settings]="settings" [source]="data" (createConfirm)="onCreateConfirm($event)" (editConfirm)="onEditConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>